[Desktop Entry]
Name=TkMahjongg
Comment=Play Mahjongg
Keywords=mahjongg;
TryExec=tkmahjongg
Exec=tkmahjongg2
StartupNotify=true
Terminal=false
Type=Application
Icon=tkmahjongg2
X-GNOME-DocPath=
Categories=MahJongg;
