[Desktop Entry]
Name=TkMahjongg2
Comment=Play Mahjongg
Keywords=Mahjongg;
TryExec=tkmahjongg2
Exec=tkmahjongg2
StartupNotify=true
Terminal=false
Type=Application
Icon=/usr/share/icons/tkmahjongg2.png
Categories=Mahjongg;Games;
